body{
    background-color: black;
}
*{
    margin: 0;
    padding: 0;

}

h1{
    text-transform: uppercase;
     border-radius: 5px;
    background-color: white blur;
    color: 	hsl(240, 100%, 50%);
   
    font-size: 3rem;
    animation: glow 1.5s infinite alternate;
}

.poster{
width: 50%;
font-family: "Libre Baskerville", serif;
align-items: center;
text-align: center;
color: white;
margin-left: 25%;
margin-top: 100px;
}

.motivational-img{
    border: 5px solid white;
    width: 100%;
    
}

.motivational-img:hover{
    border: 5px solid 	hsl(60, 100%, 50%);
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 5px orangered, 0 0 10px #4d0000;
    }
    50% {
        box-shadow: 0 0 15px	hsl(90, 100%, 50%) , 0 0 30px hsl(180, 100%, 50%);
    }
    100% {
        box-shadow: 0 0 5px 	rgb(255, 255, 0), 0 0 10px hsl(105, 100%, 50%);
    }
}
